.hidden-element {
}
.big-text-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  color: rgb(243, 148, 148);
  overflow: hidden;
  font-size: 200px;
  height: 250px;
  margin: 0;
}
.hide-text {
  position: absolute;
  z-index: 200;
}
